* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff; 
}

.logo {
    height: 50px; 
    width: auto;  
    margin-right: 10px; 
}

.navbar {
    background-color: #09814A; /* Cor escura para a navbar */
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens se movam em várias linhas se necessário */
}

.navbar-brand {
    color: white;
    text-decoration: none;
}

.navbar-links {
    margin-left: auto; /* Alinha os links à direita */
}

.navbar-links ul {
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.banner {
    background-color: #1db954;
    color: #000;
    padding: 60px 20px;
    text-align: center;
}

.banner h1 {
    font-size: 2.5rem;
    color: #006d40;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Container Principal */
.container {
    padding: 80px;
    text-align: center;
    background-color: #ffffff; /* Fundo mais neutro */
    border-radius: 10px;
    box-shadow: 0 6px 12px #000000; /* Sombra no container */
}

h2 {
    color: #1db954;
    margin-bottom: 30px;
    font-size: 2rem;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #000000;
}

/* Botões */
.btn {
    background-color: #006d40;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #128230;
    transform: translateY(-3px); /* Pequeno movimento ao hover */
}

h2 {
    color: #6ee96e;
    margin-bottom: 20px;
    font-weight: bold;
}
.imgsbenefecios
 {
    width: 100%;
    max-width:200px;
    height: auto;
    margin: 0 auto;
    display: block;
 }

.footer {
    background-color: #09814A; 
    color: white; 
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.footer p {
    margin: 0;
    font-size: 0.9rem; 
}

.btn {
    background-color: #09814A; 
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Empilha os itens em telas menores */
    }

    .navbar-links {
        margin-top: 10px; /* Adiciona espaçamento acima dos links */
    }

    .navbar-links ul {
        flex-direction: column; /* Alinha links verticalmente */
    }

    .navbar-links li {
        margin: 5px 0; /* Adiciona espaçamento entre os itens da lista */
    }

    .banner {
        padding: 60px 20px; /* Reduz o padding do banner */
    }

    h1 {
        font-size: 1.8rem; /* Ajusta o tamanho do título */
    }

    h2 {
        font-size: 1.5rem; /* Ajusta o tamanho do subtítulo */
    }

    .btn {
        padding: 10px 15px; /* Ajusta o padding do botão */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem; /* Reduz ainda mais o tamanho do título */
    }

    h2 {
        font-size: 1.2rem; /* Reduz ainda mais o tamanho do subtítulo */
    }
}