* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff; 
}

.logo {
    height: 50px; 
    width: auto;  
    margin-right: 10px; 
}

.navbar {
    background-color: #343a40; /* Cor escura para a navbar */
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens se movam em várias linhas se necessário */
}

.navbar-brand {
    color: white;
    text-decoration: none;
}

.navbar-links {
    margin-left: auto; /* Alinha os links à direita */
}

.navbar-links ul {
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.banner {
    background-color: #ff6b81;
    color: #ffffff;
    text-align: center;
    padding: 80px 20px;
}

.container {
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: #e68d8d; /* Cor rosa */
}

h2 {
    color: #ff6b81;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer {
    background-color: #343a40; 
    color: white; 
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.footer p {
    margin: 0;
    font-size: 0.9rem; 
}

.btn {
    background-color: #ffda63; 
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Empilha os itens em telas menores */
    }

    .navbar-links {
        margin-top: 10px; /* Adiciona espaçamento acima dos links */
    }

    .navbar-links ul {
        flex-direction: column; /* Alinha links verticalmente */
    }

    .navbar-links li {
        margin: 5px 0; /* Adiciona espaçamento entre os itens da lista */
    }

    .banner {
        padding: 60px 20px; /* Reduz o padding do banner */
    }

    h1 {
        font-size: 1.8rem; /* Ajusta o tamanho do título */
    }

    h2 {
        font-size: 1.5rem; /* Ajusta o tamanho do subtítulo */
    }

    .btn {
        padding: 10px 15px; /* Ajusta o padding do botão */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem; /* Reduz ainda mais o tamanho do título */
    }

    h2 {
        font-size: 1.2rem; /* Reduz ainda mais o tamanho do subtítulo */
    }
}